DirectoryIndex index_new.html index.html index.php

RewriteEngine off

AuthUserFile /home/cl2014/www/rwada/.htpasswd
AuthName password
AuthType Basic
require valid-user


<Files "index_new.html">
Satisfy any
order allow,deny
allow from all
</Files>


Action myphp-script /php.cgi
AddHandler myphp-script .php .html

